<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h3 class="listing-location">{{ Post?.dateTime }}</h3>
  <h2 class="listing-heading" >{{ Post?.album?.title }}</h2>
  <p class="listing-location">Artist: {{ Post?.album?.artist?.name }}</p>
  <p class="listing-location">Released: {{ Post?.album?.releasedate }}</p>
  <p class="listing-location">Rating: {{ Post?.stars }}</p>
  <p class="listing-location">User: {{ Post?.user }}</p>
  <p class="listing-location">{{ Post?.opinion }}</p>
  <ion-button *ngIf="Post?.user === this.username" (click)="DeletePost()">Delete</ion-button>
  <ion-button (click)="shareContent()">Share</ion-button>
  <p *ngIf="Post?.location">Location:</p>
  <app-leaflet-map *ngIf="Post?.location" [Location]="Post?.location"></app-leaflet-map>

</ion-content>
