<ion-header [translucent]="true">
  <ion-toolbar color="green">
    <ion-title>Post Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="tapiz" [fullscreen]="true">
  <h1>{{ Post?.album?.title }}</h1>
  <p>ID del Post: {{ id }}</p>
  <p class="listing-location">Artist: {{ Post?.album?.artist?.name }}</p>
  <p class="listing-location">Released: {{ Post?.album?.releasedate }}</p>
  <p class="listing-location">Rating: {{ Post?.stars }}</p>
  <p class="listing-location">User: {{ Post?.user }}</p>
  <p class="listing-location">{{ Post?.opinion }}</p>
  <ion-button *ngIf="Post?.user === this.username" (click)="DeletePost()">Delete</ion-button>
  <ion-button class="button" shape="round" color="success" fill="clear" (click)="shareContent()">
    <i id="share" class="icon ion-md-share"></i>
  </ion-button>
  <p>Time & Location:</p>
  <p *ngIf="!Post?.location">Not Found</p>
  <h2 class="listing-location">{{ Post?.hour }}:{{ Post?.minute }}h {{ Post?.day }}/{{Post?.month}}/{{Post?.year}}</h2>
  <app-leaflet-map *ngIf="Post?.location" [Location]="Post?.location"></app-leaflet-map>

</ion-content>