ion-toolbar {
    background-color: rgb(29, 185, 84);
}

ion-title {
    color: hsl(139, 68.70%, 93.70%);
}

ion-button {
    color: rgb(29, 185, 84);
}

.tapiz {
    background-color: aqua !important;
}

.listing {
    //margin-left: 3%;
    border-radius: 20px;
    background-color: rgb(228, 250, 235);
    margin: 1%;
    padding: 4%;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    color: rgb(29, 185, 84);
    //line-height: 200%;
    margin-top: 0%;
    margin-bottom: 5%;
    //background-color: orange;
}

img {
    //display: block;
    //float: left;
    width: 25%;
    margin-right: 2%;
    height: auto;
    border-radius: 5%;
    margin-bottom: 0%;
}

#details {
    display: inline-block;
    vertical-align: top;
    margin-left: 1%;
    font-size: small;
}

h3 {
    position: absolute;
    margin-left: 77%;
    font-size: small;
    color: rgb(65, 65, 65);
}

#opinion {
    margin-left: 3%;
    margin-bottom: 3%;
    margin-top: 0%;
    //background-color: grey;
}

#buttons {
    //background-color: blueviolet;
    margin-top: 0%;
    margin-bottom: 0%;
}

//ion-button {
//    box-sizing: content-box;
//    border-color: black;
//    border-style: outset;
//    border-width: 3px;
//    padding: 0%;
//}

#delete {
    //display: block;
    float: right;
}

i {
    font-size: 50px;
}

#share {
    size: 50px;
}

#share:hover {
    color: green;
}

h2 {
    font-size: medium;
    color: blue;
}