<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>SoundShare</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">signup</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Join us</h1>
  
  <form (ngSubmit)="register()" [formGroup]="credentials">

    <ion-item fill="solid" class="ion-margin-bottom">
      <input placeholder="Username" type="username" formControlName="username"/>
      <ion-note slot="error" *ngIf="(username?.dirty || username?.touched) && username?.errors">Username</ion-note>
    </ion-item>

    <ion-item fill="solid" class="ion-margin-bottom">
      <input placeholder="Email" type="email" formControlName="email"/>
      <ion-note slot="error" *ngIf="(email?.dirty || email?.touched) && email?.errors">Email is invalid</ion-note>
    </ion-item>
    
    <ion-item fill="solid" class="ion-margin-bottom">
      <input type="password" placeholder="Password" formControlName="password"/>
      <ion-note slot="error" *ngIf="(password?.dirty || password?.touched) && password?.errors">
        Password needs to be 6 characters
      </ion-note>
    </ion-item>

    <ion-item fill="solid" class="ion-margin-bottom">
      <input  placeholder="Confirm Password"/>
      <ion-note slot="error" *ngIf="(password?.dirty || password?.touched) && password?.errors">
        Password needs to be 6 characters
      </ion-note>
    </ion-item>

    <!-- <ion-button type="submit" expand="block" [disabled]="!credentials.valid">Log in</ion-button> -->
    <ion-button type="submit" expand="block">Sign Up</ion-button>
  </form>
</ion-content>
