.listing {
    margin: 2%;
    padding: 5%;
    padding-top: 0.01cm;
    padding-bottom: 0.01cm;
    border-radius: 20px;
    background-color: rgb(228, 250, 235);
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(29, 185, 84);
    //background-color: orange;
}

h3 {
    position: absolute;
    margin-left: 77%;
    font-size: small;
    color: rgb(65, 65, 65);
}

p {
    //background-color: grey;
}