<section class="listing">
  <!-- <h3>{{getTime().getHours()}}:{{getTime().getMinutes()}}h</h3> -->
  <h3 class="listing-location">{{ iAlbum.dateTime }}</h3>
  <h2 class="listing-heading">{{ iAlbum.title }}</h2>
  <p class="listing-location">Artist: {{ iAlbum.artist }}</p>
  <p class="listing-location">Released: {{ iAlbum.year }}</p>
  <p class="listing-location">{{ iAlbum.stars }}</p>
  <p class="listing-location">{{ iAlbum.opinion }}</p>
  <p class="listing-location" *ngIf="iAlbum.actiu === true">Disponible: Si</p>
  <p class="listing-location" *ngIf="iAlbum.actiu === false">Disponible: No</p>
  <!-- <p class="listing-location">{{ iAlbum.user}}</p> -->
</section>
