.listing {
    margin: 1%;
    padding-left: 1%;
    border-radius: 20px;
    background-color: rgb(228, 250, 235);
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: rgb(61, 160, 144);
    line-height: 200%;
    margin-left: 3%;
    margin-bottom: 0%;
    //background-color: orange;
}

img {
    //display: block;
    //float: left;
    width: 25%;
    margin-left: 3%;
    margin-right: 2%;
    height: auto;
    border-radius: 5%;
}

#details {
    display: inline-block;
    vertical-align: top;
    margin-left: 1%;
    font-size: small;
}

h3 {
    position: absolute;
    margin-left: 77%;
    font-size: small;
    color: rgb(65, 65, 65);
}

#opinion {
    margin-left: 3%;
    //background-color: grey;
}

#delete {
    //display: block;
    float: right;
}

#share:hover {
    color: green;
}

#trash:hover {
    color: red;
}