<ion-header [translucent]="true">
  <ion-toolbar color="green">
    <ion-title>
      My Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="preview">
    <ion-avatar (click)="changeImage()">
      <img *ngIf="image; else placheolder_avatar;" [src]="image" />
      <ng-template #placheolder_avatar>
        <div class="fallback">
          <p>Select avatar</p>
        </div>
      </ng-template>
    </ion-avatar>
  </div>

  <ion-text>email: {{ email }}</ion-text><br>
  <ion-text>Username: {{username}}</ion-text><br>

  <ion-button (click)="signOut()">Cerrar Sesión</ion-button>
  <h1>Tus Posts</h1>
  <section class="results">
    <app-section-album *ngFor="let post of ListPosts" [iPost]="post"></app-section-album>
  </section>
</ion-content>