<ion-header [translucent]="true">
  <ion-toolbar color="green">
    <ion-title>
      Share your sound
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <form [formGroup]="albumForm">
        
      title: <br/>
      <input type="text" formControlName="title" /> <br/><br/><br/>
  
      artist: <br/>
      <input type="text" formControlName="artist" /> <br/><br/><br/>
  
      year: <br/>
      <input type="text" formControlName="year" /> <br/><br/><br/>
  
      tracklist: <br/>
      <input type="text" formControlName="tracklist" /> <br/><br/><br/>

      stars: <br/>
      <input type="text" formControlName="stars" /> <br/><br/><br/>

      comment: <br/>
      <input type="text" formControlName="opinion" /> <br/><br/><br/><br/><br/><br/>

      <ion-button type="button" shape="round" fill="outline" color="success" (click)="saveAlbum()">Share</ion-button>
  
    </form>     

  </div>
</ion-content>
