<ion-header [translucent]="true">
  <ion-toolbar color="green">
    <ion-title>
      Share your sound
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <form [formGroup]="postForm">
        
      Album: <br/> <br/>
      <ion-text *ngIf="albumSelected">{{albumSelected.title}} - {{albumSelected.artist?.name}}</ion-text> <br/>
      <ion-searchbar 
        formControlName="album"
        (ionInput)="onInputChangeAlbum()" 
        placeholder="Buscar">
      </ion-searchbar> <br/>
      <ion-list *ngIf="albums && albums.length>0 && this.postForm.get('album')!.value">
        <ion-item *ngFor="let item of albums" (click)="getAlbum(item.id)">
          {{ item.title }} - {{item.artist?.name}}
        </ion-item>
      </ion-list>
      <!-- artist: <br/>
      <input type="text" formControlName="artist" [(ngModel)]="artist" (ngModelChange)="onInputChangeArtist()"/> <br/><br/><br/>
  
      year: <br/>
      <input type="text" formControlName="year" /> <br/><br/><br/>
  
      tracklist: <br/>
      <input type="text" formControlName="tracklist" /> <br/><br/><br/> -->

      Rating: <br/>
      <ion-input type="text" formControlName="stars" /> <br/><br/><br/>

      Review: <br/>
      <ion-input type="text" formControlName="opinion" /> <br/><br/><br/><br/><br/><br/>

      <ion-button type="button" shape="round" fill="outline" color="success" (click)="savePost()">Share</ion-button>
  
    </form>     

  </div>
</ion-content>
