ion-toolbar {
    background-color: rgb(29, 185, 84);
}

ion-title {
    color: rgb(228, 250, 235);
}

form {
    text-align: center;
    margin: 10%;
    color: rgb(29, 185, 84);
}

ion-button {
    color: rgb(29, 185, 84);
}